@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Your description goes here" />
    <meta name="keywords" content="your,keywords,goes,here" />
    <meta name="author" content="Your Name" />
    <link rel="stylesheet" type="text/css" href="variant-duo.css" title="Variant Duo" media="screen,projection" />
    <title>Variant Duo v1.2</title>
</head>
<body>
        <div id="content">

            <div class="image">
                <img class="feature" src="~/Images/IMG_2833.jpg" alt="sample image" style="width:100%" />
            </div>

            <div class="left">
                <h1>Vilka är vi?</h1>
                <p style="font-size: 18px;">
                    Mariatorget Städ erbjuder hushållsnära tjänster i Helsingborgsområdet. Vi utför städtjänster hos både privatpersoner och företag.
                </p>
                <br />
                <p style="font-size: 18px;">
                    Vi har samlat kunskap och erfarenhet med hjälp av nyckelpersoner i branschen med mångårig erfarenhet under ett och samma tak. Mariatorget Städ är ett tryggt och säkert val för dig som vill ha hjälp med städning och andra hushållsnära tjänster.
                    Vi hjälper dig med allt ifrån Hemstädning, Kontorsstädning, Flyttstädning, Fönsterputs och Trappstädning till Familjeservice/barnpassning. Allt för att underlätta för dig i din vardag!
                </p>
                <br />
                <p style="font-size: 18px;">
                    Välkommen med din förfrågan!
                    Vi arbetar med egenkontroller och utför kvalitetskontroller löpande. Du har alltid direkt kontakt med en arbetsledare utan ”mellanhänder” och vet alltid var du ska vända dig med frågor eller synpunkter.
                </p>
                <br />
                <p style="font-size: 18px;">
                    Mariatorget Städ arbetar ständigt med att utveckla och utbilda vår personal och hålla oss uppdaterade på miljöutveckling och branschnyheter.
                </p>
            </div>
            <div class="right">
                <h1>Företagsstädning</h1>
                <p style="font-size: 18px;">
                    Som företagskund hos oss kan du beställa allt från en engångs städning, löpande lokalvård, till specialanpassade serviceprogram. Det enda gemensamma mellan alla våra uppdrag är att vi skapar rena och trivsamma lokaler och anpassar städningen efter kundens behov.
                    Grunden i vårt åtaganden gentemot er som kund, är den löpande lokalvården. Lokalvården kan sedan kompletteras med diverse olika städ och underhållstjänster, som både minskar era långsiktiga kostnader och får lokalerna att se rena och fräscha ut. Det kan till exempel röra sig om golvvård, fönsterputs och mattvätt.
                </p>
                <br />
                <p style="font-size: 18px;">
                    Utöver lokalvård, städning och underhåll ser vi till att det finns förbrukningsartiklar. Vi fyller på med kaffe, toalettpapper, pappersmuggar, tvål och handdukar. Till dig som kund hos Sparvath, kan vi också leverera entrémattor tryckt med ert företags logga. Vi anpassar oss helt och hållet till era önskemål för att kunna leverera ett komplett serviceprogram.
                </p>
                <br />
                <p style="font-size: 18px;">
                    Vi har öga för detaljer och hjälper gärna till med det där lilla extra förutom lokalvård och städ som får ert företags medarbetare att trivas på jobbet. Det kan röra sig om att vattna blommorna, komma med fruktkorg, hålla ordning på kaffemaskinen och ta hand om disken. Eller varför inte låta oss ta hand om er tvätt av handdukar och gardiner?
                </p>
                <br />
                <p style="font-size: 18px;">
                    Vi besöker er gärna och skräddarsyr en helhetslösning som passar just er. Som kund behöver ni inte binda upp er. Vi kan tillhandahålla städning från gång till gång, men erbjuder också ett heltäckande avtal där alla era lokalvårdsbehov ingår till ett fast pris.
                </p>
            </div>

            <hr class="clear" />

        </div>
</body>
</html>
