/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    position:center;
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.blue{background-color:lightskyblue}

/* Main containers */
body {padding:0; margin:0; background-color:lightskyblue; color:#333; text-align:center; line-height:1.6em;}
#wrap {width: 1000px; height: auto; text-align:left; align-content:center; margin:0 auto;}
#menu {text-align:right;margin-top:-40px;}
#content {background:lightblue; text-align:left; padding:20px 20px 5px; margin:15px 0 15px 0;}

.image{float: left; width: 100%; position:center;}


/* HTML Tags */
a {text-decoration:none; font-weight:400; color:#b59e4e;}
a:hover {text-decoration:underline;}
a img {border:0;}
h1 {margin:15px auto 10px auto; padding:0; font-size:2.4em; color:#2a7a9a; letter-spacing:-1px; line-height:1.2em;}
h1 a {color:#2a7a9a; font-weight:700; text-decoration:none;}
h1 a:hover {color:#333; text-decoration:none;}
h2{
    margin:0 0 12px 0; 
    padding:10px 0; 
    color:#2a7a9a; 
    font-size:1.4em; 
    font-weight:700; 
    border-top: 1px solid #ddd; 
    border-bottom:1px solid #ddd;
}
h2 a {font-weight:700;}
h3 {font-size:1.4em; font-weight:400; margin:0 0 10px 0;}
p {margin:0 0 15px 0;}
ul {margin:0 0 15px 20px; padding:0;}
li {margin:0; padding:0 0 0 5px;}

/* Various classes */
.slogan {color:#555; font-size:1.4em; margin:0 0 15px 0; padding:0;}
.feature {border-top:2px solid #fff; border-bottom:2px solid #fff;}
.menulinks {line-height:1.9em; color:#555; margin:0 0 15px 0;}
.menulink {padding:6px 8px 5px 8px; font-weight:400; margin:0 0 0 2px; color:#555;}
.menulink:hover {background-color:#eee; color:#333; text-decoration:none;}
.active {background-color:#2a7a9a; color:#fff;}
.active:hover {background-color:#2a7a9a; color:#fff;}

.header{  
    background-color: lightblue; width: 100%;
    height:100%;
    overflow: auto;
    padding-top:50px;color: black;padding: 20px;
}

.navbar-btn{     
    float: left;
    border: solid 1px darkgrey;
    border-radius: 5px;
    background-color: lightgrey;
    font-size: 16px;
    margin: 10px;
}

.footer{  
    background-color: lightblue; width: 100%;
    height:100%;
    overflow: auto;
    padding-top:50px;color: black;padding: 20px;
}
.footer a {color:#888; font-weight:400; text-decoration:none; border-bottom: 1px dotted #aaa;}
.left {float:left; width:49%;}
.right {float:right; width:49%;}
.centered {text-align:center;}
.hide {display:none;}
.clear {clear:both; width:980px; visibility:hidden;}